nav {
    width: 100%;
    height: 15vh;
    /* background-color: aquamarine; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -74px 140px #6ea9ff;
  }
  
  ul li {
    list-style: none;
    text-decoration: none;
  }
  
  .pages ul li{
    /* background-color: blue; */
    margin-right: 5rem;
    font-family: Poppins;
    /* color: white;
    text-decoration: none; */
  }
  
  .pages ul li a {
    /* background-color: blue; */
    /* margin-right: 5rem; */
    /* font-family: Poppins; */
    color: white;
    text-decoration: none;
  }
  
  .lists {
    display: flex;
  }
  
  .list-1{
    margin-right: 8rem;
    transition: .6s;
  }
  
  .list-2 {
    margin-right: 8rem;
    transition: .6s;
  }
  
  .list-3 {
    transition: .6s;
  }
  
  .bank-logo {
    width: 6rem;
    position: relative;
    left: 30px;
  }
  
  ul li a{
    transition: .6s;
  }
  
  /* HOVER */
  .bank-logo:hover {
    cursor: pointer
  }
  
  .list-1 a:hover, .list-2 a:hover, .list-3 a:hover{
    color: #35AEF3;
  }
  
  .list-1:hover, .list-2:hover, .list-3:hover {
    cursor: pointer;
    color: #35AEF3;
    transition: .3s;
    transform: scale(1.1);
  }
  
  /* .list-2:hover {
    cursor: pointer;
    color: #35AEF3;
    transition: .6s;
    transform: scale(1.1);
  }
  
  .list-3:hover {
    cursor: pointer;
    color: #35AEF3;
    transition: .6s;
    transform: scale(1.1);
  } */